<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">Navegação Principal</li>
      <!--Para deixar o menu Usuário expandido ultilize (ul class="active treeview menu-open LINHA 13") -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Usuário</span>
              <span class="pull-rught-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i>Lista</a></li>
            <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i>Novo Usuário</a></li>
          </ul>
        </li>
    </ul>
  </section>
</aside>
